<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SequentialSuite" parallel="classes" thread-count="2">
    <test name="Functional Tests">
        <classes>
            <class name="tests.RegistrationLoginPageTest"/>
            <class name="tests.MainPageTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="utils.retry.RetryListener"/>
    </listeners>

</suite>
